body{
    margin: 0;
}
#div_meno{

    background-color: #73d781;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.menu_icon{
    width: 30px;
padding: 10px;
}
.menu_icon:hover{
    background-color: green;
}
#div_login{
    padding: 10px;
}
.ttx_in{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 2px;
     border-color: white;
    border-radius: 6px;
    font-family: Courier;
    background-color: #66c803;
}
.ttx_in:hover{
    color: white;
   background-color: #f30002;
}
#frm_login{
    padding: 15px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 7px;
}
#pix_logo{
    width: 100%;
    border-radius: 10px;
}
#btn_login,#btn_sign_up{
    background-color: #00a85a;
    border-color: white;
    border-radius: 6px;
}
#div_create,#div_sign_up{
    color: #00a85a;
    font-weight: bold;
    padding: 15px;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
}
#sp_close{
    padding-bottom: 15px;
}
#div_sign_up{
    height: 80%;
    display: none;
    padding-right: 20px;
}
.ttx_up{
        width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 2px;
     border-color: #00a85a;
    border-radius: 6px;
}
#txt_otp{
    width: 60%;
    border: none;
}
#div_otp{
    position: relative;
    border: solid #00a85a 2px;
    text-align: left;

    border-radius: 6px;
}
#div_send_otp{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
   padding: 17px;
    background-color: orange;
    width: 80px;
    text-align: center;
}
#div_send_otp:active{
    background-color: #00a85a;
}
#div_processing{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding: 15px;
color: white;
    display: none;
}
#div_pro_posi{
    position: relative;
    height: 50%;

}
.loader{
  background-color:white;



 /* position the div in center */
  position: absolute;
 bottom: 0;
    left: 43%;

}
#txt_otp:focus{
      outline: none !important;

}
#noti{
    background-color: orange;
    position: fixed;
    top: 0;
    padding: 15px;
    text-align: center;
    display: none;
}
#div_barcode{
    margin-top: 10px;
   color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;

}
#barcode{
border-radius: 10px;
    padding: 10px;
    background-color: white;
        width: 200px;
}
#copy_parent{
    margin-top: 5px;
    border: 2px solid white;

    border-radius: 10px;
    text-align: left;
    position: relative;
}
#txt_wallet{
width: 80%;
    border: none;
    padding: 10px;
}
#txt_wallet:focus{
   outline: none !important;
}
#sp_copy{
    text-align: center;
    padding: 6px;
    position: absolute;
top: 0;
    right: 0px;
    width: 100px;
    background-color: orange;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
#img_done{
    width: 100%;
}
#div_airtime,#div_data{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px;

    position: fixed;
    top: 158px;
display: none;
}
#btn_close_airtime{
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: Courier;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.0);
    z-index: 3;

}
#div_return_phone,#div_return_phone_data{
    margin-top: 50px;

    text-align: center;
}
#div_return_check_phone,#div_return_check_phone_data{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 210px;
    height: 100%;
    text-align: center;
    display: none;
}
.sp_phone_title{
    color: #6a6a68;
    font-family: Courier;
    font-size: 16px;
}
#phone_no,#phone_no_data{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    background-color: #cacac7;
    border: none;
    border-radius: 6px;
        font-family: 'Dongle', sans-serif;

    font-family: 'Zen Kurenaido', sans-serif;

    font-family: 'Zen Old Mincho', serif;
    font-weight: bold;
    font-size: 20px;
}
#phone_no,#phone_no_data:focus{
         outline: none !important;
}
#foota_pix{
    width: 100%;
}
#div_foota{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    z-index: 4;
}
#pix_bg{
width: 100%;

}
#divbg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
#tb_airtime{
    width: 100%;
}
#div_airtime_cover{
    border: solid 1px silver;
    border-radius: 5px;
    padding: 10px;
}
.network_logo{
    width: 30px;
}
#td_icon{
    width: 40px;

}
#edit_num,#edit_num_data{
    width: 30px;
}
#td_edit{
    width: 32px;
}
#td_phone{
    text-align: center;
       font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.back_button{
    position: absolute;
    left: 0px;
    color: red;
    top: 0;
    size: 4px;
}
#airtime_amount,#airtime_amount_data{
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 7px;
    background-color: white;
    font-size:16px;
    font-weight: bold;
    font-family: Courier;
    border: 1px solid silver;
}
#btn_proceed,#btn_proceed_data{
    border: none;
    margin-top: 6px;
    width: 100%;
    padding: 10px;
    background-color: #00a85a;
    border-radius: 8px;
    font-weight: bold;
        font-family: 'Dongle', sans-serif;

    font-family: 'Righteous', cursive;

    font-family: 'Zen Kurenaido', sans-serif;

    font-family: 'Zen Old Mincho', serif;
    color: white;
    font-size: 18px;
}
#tb_confs{
    width: 100%;
}
#pay_with_bch{
    border: none;
    margin-top: 6px;
    width: 100%;
    padding: 10px;
    background-color: #00a85a;
    border-radius: 8px;
    font-weight: bold;
        font-family: 'Dongle', sans-serif;

    font-family: 'Righteous', cursive;

    font-family: 'Zen Kurenaido', sans-serif;

    font-family: 'Zen Old Mincho', serif;
    color: white;
    font-size: 18px;
}